@font-face {
    font-family: shabnam;
    src: url('shabnam.woff') format('woff');
}

* {
    font-family: 'shabnam';
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    background: #e9e9e9;
}

.container {
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    filter: drop-shadow(0px -6px 43px #000000);
    position: relative;
    z-index: 6;
}

.empty-space {
    height: 180px;
}

.control {
    width: 80%;
    height: 120px;
    margin: auto;
    
    background-color: rgba(173, 173, 173, 0.74);
    border-radius: 0 0 10px 10px;
    border-bottom: 3px solid #8d8d8d;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.file-selector {
    color: whitesmoke;
}

.control-right {
    float: right;
    width: 50%;
    height: 100%;
}

.control-left {
    float: left;
    width: 49%;
    padding: 5px;
    border-right: 1px dashed #a4a4a4;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

.user-panel,
.logout,
.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    padding-bottom: 5px;
    transition: border-bottom 0.1s ease-in-out;
}

.user-panel:hover,
.logout:hover,
.nav a:hover {
    border-bottom: 3px solid #fff;
}

.logo {
    width: 60px;
    height: 30px;
    margin-left: 20px;
}

.right-side,
.left-side {
    display: flex;
    align-items: center;
}

.active {
    border-bottom: 3px solid #fff;
}

.btn,
.btn-remove,
.btn-back {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: 0.1s ease-in-out;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: #0d6efd;
    min-width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 1;
}

.btn:hover {
    background-color: #3888ff;
}

.btn-remove {
    padding: 7px;
    background-color: #fd0d3d;
    min-width: 70px;
    position: relative;
    top: 0;
}

.btn-remove:hover {
    background-color: #ff2b55;
}

.btn-back {
    background-color: rgb(255, 174, 0);
}

.btn-back:hover {
    background-color: rgb(255, 194, 62);
}

input {
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}

.item-desc {
    color: #fff;
}

.item-desc a {
    color: #000;
    text-decoration: none;
}

.form {
    position: relative;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.form-top {
    position: relative;
    top: 10px;
}

.form a {
    margin: auto;
    text-align: center;
}

.search-log-form {
    position: relative;
    top: 30px;
    width: 700px;
    height: 150px;
    margin: auto;
    align-items: baseline;
}

.search-log-form select {
    width: 200px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

.search {
    position: relative;
    width: fit-content;
    margin: auto;
    top: 50px;
}

.search-res {
    position: relative;
    top: 5px;
    margin: auto;
    width: 60%;
    height: fit-content;
    padding: 10px;
    border-bottom: 10px solid #bbb;
    overflow: hidden;
}

.search-res-right,
.search-res-left {
    float: right; /* or left respectively */
    width: fit-content;
    height: 100px;
    text-align: right;
    overflow: hidden;
    margin-right: 5px;
}

.search-res-left {
    float: left;
    margin-right: 0;
}

.search-res-right a,
.search-res-left a {
    display: inline;
    color: #000;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.search-res-left img {
    max-width: 100px;
    height: 100px;
    border-radius: 5px;
}

.download,
.folder,
.file-name {
    padding: 10px 30px;
    border-radius: 5px;
}

.download {
    background-color: #b000e6;
    color: #fff;
    transition: 0.2s ease-in-out;
    position: relative;
    margin-left: 15px;
}

.download:hover {
    background-color: #b920e8;
}

.file-name {
    border: 2px solid #3888ff;
}

.folder {
    background-color: #ffd500;
    transition: 0.2s ease-in-out;
}
.folder:hover {
    background-color: #ffda54;
}

.alert {
    width: 400px;
    position: fixed;
    top: 10px;
    left: 50%;
    padding: 10px;
    background-color: #ffc04b;
    color: #202020;
    border: 1px solid #ffdf99;
    border-radius: 4px;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1000;
}

.images-name {
    width: 100px;
    color: #000;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-container {
    width: 160px;
    height: 180px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.img-container img {
    width: 100%;
    height: 100px;
}

.img-container a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

.logo_login {
    width: 150px;
    margin: auto;
}

.logo_login img {
    position: relative;
    top: -20px;
    width: 150px;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6e6e6;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 35px -8px rgba(0, 0, 0, 0.2);
    border: 1px dashed #919191;
}

.login-form input {
    display: block;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    z-index: 3;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    position: relative;
    width: 500px;
    max-width: 90%;
    background-color: #ececec;
    padding: 1em 2em;
    border-radius: 4px;
    box-shadow: 0 0 39px 0 rgba(0, 0, 0, 0.56);
}
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.lead {
    font-weight: 600;
    color: #777;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
}

.lightbox {
    z-index: 100;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #bbb;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#log {
    position: relative;
    top: 20px;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

#log td, #log th {
    padding: 8px;
    text-align: right;
}

#log tr:nth-child(even) {
    background-color: #f2f2f2;
}

#log th:first-child {
    border-radius: 0 10px 0 0;
}

#log th:last-child {
    border-radius: 10px 0 0 0;
}

#log tr:hover {
    background-color: #ddd;
}

#log th {
    padding: 12px 8px;
    text-align: right;
    background-color: #1c78d4;
    color: white;
}

.empty {
    position: relative;
    top: 40px;
    text-align: center;
    color: #939393;
}

.empty img {
    width: 100px;
}

.empty a {
    line-height: 60px;
}

.container-explor {
    width: 80%;
    margin: auto;
    min-height: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    top: 10px;
}
.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #969696;
}

.error img {
    width: 100px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.panel {
    position: relative;
    top: 50px;
    width: 80%;
    margin: auto;
    height: fit-content;
}

.panel-title {
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid #9f9f9f;
}

.panel-app {
    float: right;
    width: 14%;
    padding: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.panel-app a {
    font-size: 17px;
}

.panel-app p {
    font-size: 15px;
}

.form-select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

label {
    background-color: #e63200;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

/* Print Handling */
@media screen {
    .printable { display: none; }
    .non-printable { display: block; }
}

@media print {
    .non-printable { display: none; }
    .printable { display: block; }
}

.btn-print {
    padding: 7px;
    min-width: 70px;
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

.btn-print:hover {
    background-color: #3888ff;
}

.op {
    display: flex;
    align-self: center;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    margin: 3rem 0;
    height: 14.75rem;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: right;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background-color: #ababab;
    border-right: 2px solid #2c2c2c;
    color: #fff;
    cursor: pointer;
    transition: top 0.25s;
}

.tab-label:hover {
    top: -0.25rem;
}
.tab-content {
    position: absolute;
    top: 2.75em;
    left: 0;
    width: 100%;
    min-height: 600px;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 4px solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
    z-index: 1;
}

.tab-content form {
    position: relative;
    top: 100px;
    width: 180px;
    margin: auto;
    direction: ltr;
}

.tab-content select {
    border: 1px solid #d9d9d9;
}

.tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 2px solid #fff;
    top: -0.0625rem;
    transition: all 0.35s;
    z-index: 1;
}

.tab-switch:checked + label + .tab-content {
    opacity: 1;
    z-index: 2;
    transition: all 0.35s;
}

form label {
    background-color: unset;
    color: #000;
}

.checkbox-group,
.checkbox-container {
    direction: ltr;
    width: 100%;
}

.user-checkbox-group {
    display: flex;
    flex-direction: column;
}

#lightbox-img {
    max-width: 90%;
    max-height: 90%;
    cursor: grab;
    transition: transform 0.3s ease;
}

#lightbox-img:active {
    cursor: grabbing;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 15px;
    background-color: #000;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 99;
}
