{% extends "layout.html" %}
{% block content %}
    <div class="control">
        <!-- open modal -->
        <div id="demo-modal" class="modal">
            <div class="modal__content">
                <h1>تغییر نام پوشه</h1>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.getname() }}
                    {{ form.submitname() }}
                </form>
                <a href="#" class="modal__close">&times;</a>
            </div>
        </div>

        <div class="control-right">
            {% if session['permission'] | int >= 2 %}
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {{ form.hidden_tag() }}
                {{ form.filesname() }}
                {{ form.image.label }}
                {{ form.image(size=32) }}
                {{ form.upload() }}
            </form>
            <form class="form" action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.newfoldername() }}
                {{ form.submitnewfoldername() }}
            </form>
            {% endif %}
        </div>
        <!-- FYI -->
        <div class="control-left">
            <form class="form">
                <a href="javascript: history.go(-1)" class="btn-back">برگشت</a>
                <h5>{{ current_path }}</h5>
                <a href="#demo-modal" class="btn">تغییر نام پوشه</a>
            </form>
        </div>
    </div>
    <!-- File and folder listing -->
    <div class="container-explor">
        <!-- Flash messages for feedback -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <!-- Files and folder -->
        <div class="list-group" dir="ltr">
            {% if not folders and not files %}
                <div class="empty">
                    <img src="{{ url_for('style', filename='img/empty.png')}}"><br>
                    <a>فایل یا پوشه ای موجود نمی باشد</a>
                </div>
            {% else %}
                <div class="gallery">
                    <!-- for list folders -->
                    {% for folder in folders %}
                        <div class="img-container">
                            <a href="{{ url_for('dir_listing', req_path=current_path + '/' + folder) }}">
                                <img src="{{ url_for('style', filename='img/folder.png') }}" alt="{{ folder }}" style="max-height: 150px;">
                                <div class="images-cont">{{ folder }}</div>
                            </a>
                            {% if session['permission'] | int >= 2 %}
                                <form class="form" action="{{ url_for('delete_file') }}" method="post">
                                    <input type="hidden" name="path" value="{{ current_path }}">
                                    <input type="hidden" name="file_name" value="{{ folder }}">
                                    <button type="submit" class="btn-remove">حذف</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <!-- for list files -->
                    {% for file in files %}
                        {% if "thumb" not in file %}
                            <div class="img-container">
                                {% if current_path == '' %}
                                    <div class="gallery-item">
                                        <img src="{{ url_for('static', filename='' ~ current_path ~ '' ~ 'thumb_' + file) }}" data-src="{{ url_for('static', filename='' ~ current_path ~ '' + file) }}" data-image="{{ url_for('static', filename='' ~ current_path ~ '' + file) }}" alt="{{ file }}" class="gallery-item gallery-item-image"/>
                                    </div>
                                    <div class="item-desc">
                                        <a href="{{ url_for('static', filename='' ~ current_path ~ '' ~ file) }}">{{ file }}</a>
                                    </div>
                                {% else %}
                                    <div class="gallery-item">
                                        <img src="{{ url_for('static', filename='' ~ current_path ~ '/' ~ 'thumb_' + file) }}" src="{{ url_for('static', filename='' ~ current_path ~ '/' + file) }}" data-image="{{ url_for('static', filename='' ~ current_path~ '/' ~ file) }}" alt="{{ file }}" class="gallery-item gallery-item-image"/>
                                    </div>
                                    <div class="item-desc">
                                        <a href="{{ url_for('static', filename='' ~ current_path ~ '/' ~ file) }}">{{ file }}</a>
                                    </div>
                                {% endif %}
                                {% if session['permission'] | int >= 2 %}
                                    <form class="form" action="{{ url_for('delete_file') }}" method="post">
                                        <input type="hidden" name="path" value="{{ current_path }}">
                                        <input type="hidden" name="file_name" value="{{ file }}">
                                        <button type="submit" class="btn-remove">حذف</button>
                                    </form>
                                    <br>
                                    <button class="btn-remove" onclick="printImg('http://192.168.3.20/dir/aaa_(1).jpg')">Print</button>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div id="lightbox" class="lightbox">
        <span class="close">&times;</span>
        <img class="lightbox-content" id="lightbox-img">
        <div id="caption"></div>
        <a class="next">&#10094;</a>
        <a class="prev">&#10095;</a>
    </div>
    <script src="{{ url_for('style', filename='js/gallery.js')}}"></script>
    <script src="{{ url_for('style', filename='js/print.js')}}"></script>
{% endblock content %}