{% extends "layout.html" %}
{% block content %}
  <form action="" method="POST" class="search-log-form">
    {{ form.hidden_tag() }}
    {{ form.SU() }}
    {{ form.submit() }}
  </form>
  {% if not logs %}
    <div class="error">
      <img src="{{ url_for('style', filename='img/log.png')}}"><br>
      <a>لاگی موجود نمی باشد</a>
    </div>
  {% else %}
    <table id="log">
      <tr>
        <th>شماره</th>
        <th>تاریخ</th>
        <th>کاربر</th>
        <th>عملیات</th>
        <th>توضیحات</th>
      </tr>
      {% for log in logs %}
        <tr>
          <td>{{ log[0] }}</td>
          <td>{{ log[1] }}</td>
          <td>{{ log[2] }}</td>
          <td>{{ log[3] }}</td>
          <td>{{ log[4] }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}