{% extends "layout.html" %}
{% block content %}
  <div class="control">
    <form action="" method="POST" class="search-log-form">
      {{ form.hidden_tag() }}
      {{ form.SU() }}
      {{ form.StartDate() }}
      {{ form.EndDate() }}
      {{ form.submit() }}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert" role="alert" id="alert-box">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
    </form>
  </div>
  <div class="border"></div>
  <div class="border-blur"></div>
  {% if not logs %}
  <div class="container-explor">
    <div class="empty">
      <img src="{{ url_for('style', filename='img/log.png')}}"><br>
      <a>لاگی موجود نمی باشد</a>
    </div>
  </div>
  {% else %}
    <table id="log">
      <tr>
        <th>شماره</th>
        <th>تاریخ</th>
        <th>کاربر</th>
        <th>عملیات</th>
        <th>توضیحات</th>
      </tr>
      {% for log in logs %}
        <tr>
          <td>{{ log[0] }}</td>
          <td>{{ log[1] }}</td>
          <td>{{ log[2] }}</td>
          <td>{{ log[3] }}</td>
          <td>{{ log[4] }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}