{% extends "layout.html" %}
{% block content %}
  <div class="panel">
    <div class="panel-title"><a>پنل</a></div>
      <!-- Flash messages for feedback -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% if session['permission'] | int == 3 %}
        <div class="panel-app">
          <form action="" method="POST">
            <a>ثبت نام کاربر جدید</a>
            {{ form.hidden_tag() }}
            {{ form.username() }}
            {{ form.password() }}
            {{ form.repassword() }}
            {{ form.regselectpermission() }}
            {{ form.register() }}
          </form>
        </div>
        <div class="panel-app">
          <form action="" method="POST">
            <p> تغییر سطح دسترسی کاربران</p>
            {{ form.hidden_tag() }}
            {{ form.selectuser() }}
            {{ form.selectpermission() }}
            {{ form.changepermission() }}
          </form>
        </div>
        <div class="panel-app">
          <form action="" method="POST">
            <p> پاک کردن لاگ ها در فایل لاگ</p>
            {{ form.hidden_tag() }}
            {{ form.clearlog() }}
          </form>
        </div>
        <div class="panel-app">
          <form action="" method="POST">
            <p>در مواقع ضروری استفاده شود</p>
            {{ form.hidden_tag() }}
            {{ form.restartcore() }}
          </form>
        </div>
        <div class="panel-app">
          <form action="" method="POST">
            <p>پاک کردن نام کربری و دقت داشته باشد بعد از پاک کردن کاربر سرور ری استارت میشود</p>
            {{ form.hidden_tag() }}
            {{ form.selectuserdelete() }}
            {{ form.deleteusername() }}
          </form>
        </div>
        <div class="panel-app">
          <form action="" method="POST">
            <p>تغییر رمز عبور
            {{ form.hidden_tag() }}
            {{ form.oldpassword() }}
            {{ form.newpassword() }}
            {{ form.renewpassword() }}
            {{ form.changepassword() }}
          </form>
        </div>
      {% endif %}
</div>
{% endblock content %}