{% extends "layout.html" %}
{% block content %}
    <!-- Search form -->
    <div class="control">
        <div class="search">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.searchtxt() }}
                {{ form.searchbtn() }}
            </form>
            <!-- Flash messages for feedback -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- File and folder listing -->
    <div class="container-explor" dir="ltr">
        <!-- if list is empty -->
        {% if not files and not folders %}
            <div class="empty">
                <img src="{{ url_for('style', filename='img/search.png')}}"><br>
                <a>نام فایل یا پوشه مورد نظر را وارد کنید</a>
            </div>
        {% else %}
            <!-- search for files -->
            {% for file in files %}
                <div class="search-res">
                    {% if file.lower().endswith(('png', 'jpg', 'jpeg', 'gif')) %}
                        <div class="search-res-left">
                            <img src="{{ current_path }}" alt="{{ file }}">
                        </div>
                        <div class="search-res-right">
                            <a href="{{ 'dir/' + file }}">{{ file }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <!-- search for folder -->
            {% for folder in folders %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('dir_listing', req_path=current_path + '/' + folder) }}">
                        <img src="{{ url_for('style', filename='folder.png') }}" alt="{{ folder }}" style="max-height: 100px;">
                        <a href="{{ folder }}">{{ folder }}</a>
                    </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}