{% extends "layout.html" %}
{% block content %}
    <!-- Search form -->
    <div class="control">
        <div class="search">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.searchtxt() }}
                {{ form.searchbtn() }}
            </form>
            <!-- Flash messages for feedback -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- File and folder listing -->
    <div class="container-explor">
        <div class="list-group" dir="ltr">
            <!-- if list is empty -->
            {% if not files and not folders %}
                <div class="empty">
                    <img src="{{ url_for('style', filename='img/search.png')}}"><br>
                    <a>نام فایل یا پوشه مورد نظر را وارد کنید</a>
                </div>
            {% else %}
                <div class="gallery">
                    {% for folder in folders %}
                        <div class="img-container">
                            <a href="{{ folder }}">
                                <img src="{{ url_for('style', filename='img/folder.png') }}" alt="{{ folder }}" style="max-height: 150px;">
                                <div class="images-cont">{{ folder }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div id="lightbox" class="lightbox">
        <span class="close">&times;</span>
        <img class="lightbox-content" id="lightbox-img">
        <div id="caption"></div>
        <a class="next">&#10094;</a>
        <a class="prev">&#10095;</a>
    </div>
    
    <script src="{{ url_for('style', filename='js/gallery.js')}}"></script>
    <script src="{{ url_for('style', filename='js/print.js')}}"></script>
{% endblock content %}




